@{
    ViewBag.Title = "About";
}


<div class="w-100 d-flex flex-row justify-content-center align-content-center flex-wrap">
    <div class="mt-5 mb-5 w-75 card">
        <h5 class="card-header">This app will help you to learn words in any language using Leitner system.</h5>
        <div class="card-body">
            <p class="text-justify">The Leitner system is a widely used method of efficiently using flashcards that was proposed by the German science journalist Sebastian Leitner in the 1970s. In this method flashcards are sorted into groups according to how well the learner knows each one in the Leitner's learning box. The learners try to recall the solution written on a flashcard. If they succeed, they send the card to the next group. If they fail, they send it back to the first group. Each succeeding group has a longer period of time before the learner is required to revisit the cards. In Leitner's original method, published in his book So lernt man Lernen (How to learn to learn), the schedule of repetition was governed by the size of the partitions in the learning box. These were 1, 2, 5, 8 and 14cm. Only when a partition became full was the learner to review some of the cards it contained, moving them forward or back depending on whether they remembered them. </p>
            <p class="text-right"> <a href="https://en.wikipedia.org/wiki/Leitner_system">[Wikipedia]</a></p>
            <hr />
            <img class="img-fluid" src="~/Assets/Leitner_system.svg" alt="Leitner system" />
        </div>
    </div>
</div>
